<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>Corona Virus Tracker</h1>
    <p th:text="${testName}">Default String here?</p>
    <table>
      <tr>
        <th>Province/State</th>
        <th>Country/Region</th>
        <th>Latest Total Cases</th>
      </tr>
      <tr th:each="stat : ${locationStats}">
        <td th:text="${stat.provinceState}"></td>
        <td th:text="${stat.countryRegion}"></td>
        <td th:text="${stat.latestTotalCases}"></td>
      </tr>
    </table>
  </body>
</html>
