<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css"
      integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"
      integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div>
        <h1 style="display: inline;">Corona Virus Cases Tracker</h1>
        <h6 style="display: inline;">
          <a
            target="new"
            href="https://github.com/siucng2222-c/coronavirus-tracker/"
            >by siucng2222-c</a
          >
        </h6>
      </div>

      <div class="jumbotron">
        <p class="lead">
          Total cases as of <span th:text="${lastUpdateDt}"></span>
        </p>
        <h1 class="display-4" th:text="${totalCases}"></h1>
        <p>
          New cases reported since yesterday =
          <strong><span th:text="${totalNewCases}"></span></strong>
        </p>
        <hr class="my-4" />
        <p>
          The list below illustrates the latest number of Coronavirus (COVID-19)
          cases reported globally
        </p>
        <p>
          Credit to
          <a
            href="https://www.youtube.com/channel/UCYt1sfh5464XaDBH0oH_o7Q"
            target="new"
            >Java Brains</a
          >, Data source provided by the
          <a href="https://github.com/CSSEGISandData/COVID-19" target="new"
            >Johns Hopkins University Center for Systems Science and Engineering
            (JHU CCSE)</a
          >
        </p>
        <a
          class="btn btn-primary btn-lg"
          href="https://www.youtube.com/watch?v=8hjNG9GZGnQ&t=1s"
          role="button"
          target="new"
          >Learn more</a
        >
      </div>
      <!-- <h1>Corona Virus Tracker</h1>
    <p> The list below illustrates the latest number of Corona Virus cases reported globally</p>
    <p th:text="${testName}">Default String here?</p> -->
      <canvas id="canvas"></canvas>
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th>Province/State</th>
            <th>Country/Region</th>
            <th>Latest Total Cases</th>
            <th>Delta from Previous Day</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="stat : ${locationStats}">
            <td th:text="${stat.provinceState}"></td>
            <td th:text="${stat.countryRegion}"></td>
            <td th:text="${stat.latestTotalCases}"></td>
            <td th:text="${stat.diffFromPrevDay}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <script th:inline="javascript">
    // Thymeleaf Javascript Inline Example with Variable
    // https://www.concretepage.com/thymeleaf/thymeleaf-javascript-inline-example-with-variable
    $(document).ready(function() {
      var table = $("#myTable").DataTable();
      table.order([2, "desc"]).draw();
      /*<![CDATA[*/

      var locationStats = /*[[${locationStats}]]*/ null;
      var countryStat = /*[[${countryStat}]]*/ null;
      var headers = /*[[${headers}]]*/ null;
      // console.log(locationStats);
      // console.log(countryStat);
      // console.log(headers);

      /*]]>*/

      if (headers) {
        var config = {
          type: "line",
          data: {
            labels: headers,
            datasets: []
          },
          options: {
            legend: {
              display: true,
              position: "right"
            },
            responsive: true,
            title: {
              display: true,
              text: "Global COVID-19 Cases Chart (Top-20 Countries)"
            },
            tooltips: {
              mode: "index",
              // intersect: true,
              position: "nearest",
              itemSort: (a, b, data) => b.yLabel - a.yLabel
            },
            hover: {
              mode: "nearest",
              intersect: true
              // animationDuration: 0
            },
            // animation: {
            //   duration: 0
            // },
            // responsiveAnimationDuration: 0,
            scales: {
              xAxes: [
                {
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: "Dates"
                  }
                }
              ],
              yAxes: [
                {
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: "Cases"
                  }
                }
              ]
            }
          }
        };

        window.chartColors = {
          red: "rgb(255, 99, 132)",
          orange: "rgb(255, 159, 64)",
          yellow: "rgb(255, 205, 86)",
          green: "rgb(75, 192, 192)",
          blue: "rgb(54, 162, 235)",
          purple: "rgb(153, 102, 255)",
          grey: "rgb(201, 203, 207)"
        };

        var colorNames = Object.keys(window.chartColors);

        // if (locationStats) {
        //   locationStats.forEach(stat => {
        //     // console.log(stat);
        //     // var stat = locationStats[0];
        //     var colorName =
        //       colorNames[config.data.datasets.length % colorNames.length];
        //     console.log(colorName);
        //     var newColor = window.chartColors[colorName];
        //     console.log(newColor);
        //     var newDataset = {
        //       label: stat.countryRegion + "_" + stat.provinceState,
        //       backgroundColor: newColor,
        //       borderColor: newColor,
        //       data: stat.allData,
        //       fill: false
        //     };
        //     console.log(newDataset);
        //     config.data.datasets.push(newDataset);
        //   });
        // }

        if (countryStat && locationStats) {
          var countries = Object.keys(countryStat);
          // countries.forEach(country => {
          for (var i = 0; i < 20; i++) {
            var country = locationStats[i].countryRegion;
            var colorName =
              colorNames[config.data.datasets.length % colorNames.length];

            var newColor = window.chartColors[colorName];

            var newDataset = {
              label: country,
              backgroundColor: newColor,
              borderColor: newColor,
              data: countryStat[country],
              fill: false
            };

            config.data.datasets.push(newDataset);
          }
          // });
        }

        // console.log(config);

        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
      }
    });
  </script>
</html>
